Kvsqlite==0.2.1
Pyrogram==2.0.106
aiohttp==3.9.1
aiohttp-socks==0.8.4
aiosignal==1.3.1
arabic-reshaper==3.0.0
async-timeout==4.0.3
attrs==23.2.0
autopep8==2.0.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
frozenlist==1.4.1
getmac==0.9.4
idna==3.6
markdown-it-py==3.0.0
mdurl==0.1.2
multidict==6.0.4
N4Tools==1.7.1
names==0.3.0
pillow==10.2.0
pyarmor==8.4.7
pyarmor.cli.core==5.4.3
pycodestyle==2.11.1
Pygments==2.17.2
pyTelegramBotAPI==4.12.0
python-bidi==0.4.2
python-cfonts==1.5.2
python-nmap==0.7.1
python-socks==2.4.4
requests==2.31.0
rich==13.7.0
six==1.16.0
soupsieve==2.5
telebot==0.0.5
tqdm==4.66.1
urllib3==2.1.0
user_agent==0.1.10
uuid==1.30
yarl==1.9.4
telebot
requests
bs4
faker
user_agent
streamlit>=1.22.0
pyfiglet>=0.8.post1
importlib-metadata>=4.13.0
